* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-1 {
  background-color: #1F2937;
  color: white;
  height: fit-content;
}

.head-1 {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-bar {
  display: flex;
}

.ul-1 {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.header-link {
  font-size: 18px;
  color: #F9FAF8;
}

.header-left,
.header-right {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.header-2 {
  font-size: 48px; 
  font-weight: bolder;
  color: #F9FAF8;
  margin-left: 175px;
}

.content {
  display: flex;
}

.con-left,
.con-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 50px;
}

img {
  margin: 50px;
  height: 250px;
  align-self: flex-start;
}

.sec-1-button {
  background-color: #3882F6;
  color: white;
  width: 90px;
  height: 30px;
  border: 1px #3882F6;
  border-radius: 6px;
  margin-right: 70px;
}

.p-one {
  font-size: 18px;
  color: #E5E7EB;
  align-self: flex-end;
}

/*  Beginning of section-2 */

.section-2 {
  background-color: white;
  height: 370px;
}

.sec-2-heading {
  font-size: 36px; 
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.row-of-divs {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
}

.boxes {
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.subtext {
  margin-left: 4px;
  margin-top: 4px;
}

/* Section 3 */

.section-3 {
  background-color: #E5E7EB;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  /* text-align: center; */
  font-size: 36px;
  font-style: italic;
}

.lower-heading {
  /* text-align: center; */
  margin-left: 600px;
}